### IGNORE #####################################################################

*.ign

### BOOT #######################################################################

/.boot/

### LEININGEN ##################################################################

.lein-*

### MAVEN ######################################################################

*.jar
pom.xml

### NREPL ######################################################################

.repl-*
.nrepl-*

### OSX ########################################################################

.DS_Store

### EMACS ######################################################################

[#]*[#]

### VIM ########################################################################

*.swn
*.swo
*.swp

### VERT.X #####################################################################

.vertx

### PROJECT ####################################################################

/target/
/test/target/
/zzz/

### TESTS #####################################################################
phantomjsdriver.log
.cpcache/
cljs-test-runner-out/
node_modules/
