*.swn
*.swo
*.swp
/out/
/lib/
/classes/
/target/
/test-build/
/.hlisp-work-dir/
/.lein-repl-history
/.lein-cljsbuild-compiler-0
/.lein-cljsbuild-repl
/.lein-plugins
/.lein-deps-sum
.nrepl-port
/pom.xml
/test/target/
/zzz
